a {
  cursor: pointer;
}

.container-header {
  height: 64px;
}

.gaimg-category-text-container {
  background: rgba(244, 246, 248, 1);
  border-radius: 8px;
}

.btn-right-category,
.btn-left-category {
  border: 0px;
  outline: 0px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px;
  color: rgb(15, 99, 233);
}

.btn-tab {
  color: rgba(69, 79, 91, 1);
  background: rgba(145, 158, 171, 0.15);
  height: 38px;
  padding: 12px 16px;
  margin-right: 8px;
  border-radius: 20px;
}

.product-image-container {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: rgba(145, 158, 171, 0.16) 0px 4px 8px;
  overflow: hidden;
}

.product-image-hover {
  transition: opacity 0.15s ease 0s;
  box-shadow: rgba(15, 99, 233, 0.24) 0px 4px 8px;
  border-radius: 50%;
}

.badge-product {
  bottom: -12px;
}

.btn-right-product,
.btn-left-product {
  border: 0px;
  outline: 0px;
  box-shadow: rgba(145, 158, 171, 0.16) 0px 8px 16px;
  top: calc(30% - 15px);
  color: rgb(15, 99, 233);
}

.filter-product {
  background: rgba(145, 158, 171, 0.08);
}

.custom-coupon::before {
  content: " ";
  display: inline-block;
  width: 6px;
  background-color: #fff;
  border-radius: 28px;
  height: 6px;
  position: absolute;
  top: 5px;
  left: -3px;
}

.custom-coupon::after {
  content: " ";
  display: inline-block;
  width: 6px;
  background-color: #fff;
  border-radius: 28px;
  height: 6px;
  position: absolute;
  top: 5px;
  right: -3px;
}

.preview-product-mini {
  width: 56px;
  height: 56px;
  border: solid 1.5px white;
  transition: border 0.3s;
}

@media (min-width: 900px) {
  .container-header {
    height: 120px;
  }

  .gaming-icon-container {
    width: 80px;
    height: 80px;
  }

  .gaming-icon {
    width: 48px;
    height: 48px;
  }

  .gaimg-category {
    width: 232px;
    height: 112px;
  }

  .gaming-category-img {
    max-width: 112px;
    height: 112px;
  }

  .gaimg-category-text-container {
    height: 80px;
  }

  .gaming-category-text {
    width: 88px;
  }

  .scroll-progress-container {
    width: 400px;
  }

  .scroll-progress {
    padding-right: 160px;
  }

  .scroll {
    padding-right: calc(100% - 160px);
  }

  .top3-badge-product {
    max-width: 128px;
    max-height: 40px;
  }

  .other-badge-product {
    max-width: 104px;
    max-height: 36px;
  }

  .brand-logo {
    width: 146px;
    height: 146px;
  }
}

@media (min-width: 1280px) {
  .btn-right-category {
    right: -25px;
  }

  .btn-left-category {
    left: -25px;
  }
}
